
body{
    background-color: #000;
    font-family: 'Roboto Mono', monospace;  
    font-size: 1.2em;
    font-weight: 250;
    color: #fff;
}

/* start of styling navbar */
.header-area{
    background-color: #000;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.header-area .navbar .navbar-brand{
    padding-left: 2rem;
    font-size: 1.4em;
}

.header-area .navbar{
    padding: 1rem 3rem;
}

.header-area .nav-item .nav-link{
    padding: 0.5rem 1rem;
}

.header-area .nav .active a{
    color: #6362B1
}
.header-area .nav a{
    color: #fff
}
.header-area .nav a:hover{
    color: #6362B1
}
.header-area .nav-pills{
    --bs-nav-pills-link-active-color:#6362B1;
    --bs-nav-pills-link-active-bg:#000;
}

/* end of styling navbar */


/* styling banner */
.site-main .banner-area{
    padding-top: 15rem;
    padding-bottom: 10rem;
}
.site-main .banner-area .banner-image{
    padding-right:5rem;
}
.site-main .banner-area .site-title h3{
    color: rgb(234, 231, 231);
}
.site-main .banner-area .site-title h2{
    font-size: 1.89em;
    font-weight: bold;
}
.site-main .banner-area .site-title h4{
    color: rgb(234, 231, 231);
}
.site-main .banner-area .site-title{
    padding: 4.2rem;
}

/* end of styling banner


/* styling about me */

.about-me-section{
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}
.about-me-section .main-title-text{
    color: #6362B1;
    font-size: 2.5em;
    text-align:center;
    font-weight: bold;
}   

.about-me-section .about-me-text{
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-me-section .about-me-text .text-content{
    font-size: 1.1em;
    text-align: justify;
    padding-bottom: 1rem;
}

/* end of styling about me */


/* start of styling projects */
.projects-section{
    padding-top: 5.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
}


.projects-section .main-title-text{
    font-size: 2.5em;
    color: #6362B1;
    text-align: center;
    font-weight: bold;
}

.projects-section .project-area {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.projects-section .title-text{
    font-size: 1.4em;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1rem;
}
.projects-section .project-area .text-content{
    font-size: 1em;
    text-align:left;
}

.projects


/* end of styling projects */

/* start of styling footer */
.footer-area{
    background-color: #000;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer-area .footer  a{
    color: rgb(198, 197, 197);
}
.footer-area .footer  a:hover{
    color: #6362B1;
}
.footer-area .footer .footer-text a:hover{
    color: #6362B1;
}
/* end of styling footer */
